################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EDDX52/EDDX52.tlog
/.vs/EDDX52/v15
/EDDX52/x64
/x64
/UnitTests/x64
